.form-container {
  margin: 4rem 6rem;
  color: #2a2a2a;
}
.form-container form {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.form-container input,
textarea {
  padding: 1rem;
  margin-bottom: 2rem;
  border-bottom: 0.3rem;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
}
.form-container button {
  display: inline;
  width: fit-content;
}
